<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="card shadow-lg p-5 custom-card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Reset Password</h3>
          <form #myForm="ngForm">
            <div class="mb-4">
              <label class="form-label">New password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="newPassword" required #password="ngModel">
              <div *ngIf="password.hasError('required') && password.touched" class="text-danger">
                Password is required
              </div>
              <div *ngIf="!isValidPassword(newPassword) && password.touched" class="text-danger">
                Password must be at least 10 characters long, contain at least 1 number and 1 special character.
              </div>
            </div>

            <div class="mb-4">
              <label class="form-label">Confirm New password</label>
              <input type="password" name="password" class="form-control" [(ngModel)]="confirmNewPassword" required #confirmPassword="ngModel">
              <div *ngIf="newPassword !== confirmNewPassword && confirmPassword.touched" class="text-danger">
                Please ensure that both fields contain the same password.
              </div>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="myForm.invalid || newPassword !== confirmNewPassword" (click)="updatePassword()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
